.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */
section {
  padding: 100px 20px;
  height: 80vh;
  color: white; /* Default text color */
}

/* Main Section */
#main {
  position: relative; /* To make the image and content layer together */
  height: 100vh; /* Full-screen height */
  overflow: hidden; /* Prevent content overflow */
}

#main img {
  width: 100%; /* Make the image cover the width of the section */
  height: 100%; /* Ensure it spans the height */
  object-fit: cover; /* Keep the aspect ratio */
  position: absolute; /* Position the image at the top-left */
  top: 0;
  left: 0;
  z-index: 1; /* Place the image behind the text */
}

.main-content {
  position: absolute; /* Overlay content on the image */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  text-align: center; /* Center-align the text */
  color: white; /* Text color */
  z-index: 2; /* Place content above the image */
}

.main-content h1 {
  font-size: 5rem; /* Adjust heading size */
  margin: 0;
}

.main-content p {
  font-size: 1.5rem;
  margin-top: 20px;
}

#about {
  background-color: #252422;
  text-align: center;
}

#projects {
  background-color: #252422;
  text-align: left;
}

#experience {
  background-color: #252422;
  font-size: 1.2rem;
  line-height: 1.5;
}

#contact {
  background: radial-gradient(circle, #00ffcc, #333333);
  text-align: right;
  font-weight: bold;
}

h1 {
  
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

img {
  display: block; /* Removes inline spacing */
  margin: 0; /* Removes default margin */
  padding: 0;
  width: 100%; /* Ensure it spans the container width */
}


/* Font Styling */

