.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */
section {
  padding: 100px 20px;
  height: 100vh;
  color: white; /* Default text color */
}

#about {
  text-align: center;
}

#projects {
  text-align: left;
}

#experience {
  background-color: #001f3f;
  font-size: 1.2rem;
  line-height: 1.5;
}

#contact {
  background: radial-gradient(circle, #00ffcc, #333333);
  text-align: right;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
}
